input {
	outline:0px;
}

body {
	background-color:rgb(245,245,245) ;
}

/*标题*/
.big-title {  
    font-size: 100px;
    color: pink;
}

/*内容框框*/
.content-style {
    background-color: rgba(245, 226, 226, 0.8);
    height: auto;
    min-width: 230px;
	max-width: 550px;
	
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	padding: 0px 2px;
	border-radius: 5px;
}

header {
    padding: 20px 0px;
}

input {
	height: 70px;
    font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.new-todo {
	border: 0;
    background: rgba(0, 0, 0, 0.003);
    
    position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	color: inherit;
	padding: 6px;

	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


footer {
    border-top:  solid 1px white;
}

.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.todo-list li .finsh {
	outline:none;
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: 40px;
	position: absolute;
	top: 0;
	left:5px;
	bottom: 0;
	margin: auto 0;
	border: 0; 
	/* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;

	background-color: rgb(245,245,245);
	border-radius: 50%;

}

.finsh[type=checkbox]::after{
	position: absolute;
	top: 0;
	left:0;
	background-color: rgb(245,245,245);
	color: rgb(121, 54, 54);
	width: 40px;
	height: 40px;
	display: inline-block;
	visibility: visible;
	padding-left: 0px;
	text-align: center;
	content: '';
	border-radius: 50%;
	border: solid 1px black;
}

.finsh-black[type=checkbox]::after{
	position: absolute;
	top: 0;
	left:0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	width: 40px;
	height: 40px;
	display: inline-block;
	visibility: visible;
	padding-left: 0px;
	text-align: center;
	content: '';
	border-radius: 50%;
	border: solid 1px whitesmoke;
}
	  
.finsh-back[type=checkbox]::after{
	position: absolute;
	top: 0;
	left:0;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	width: 40px;
	height: 40px;
	display: inline-block;
	visibility: visible;
	padding-left: 0px;
	text-align: center;
	content: '';
	border-radius: 50%;
	border: solid 1px whitesmoke;
}

.finsh[type=checkbox]:checked::after{
	content: " ✔";
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	line-height: 40px;
}

.finsh-back[type=checkbox]:checked::after{
	content: "⇦";
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	line-height: 35px;
}

.delete-style .close {
	color: white;
}


.view {
	min-height: 50px;
	border-radius: 3px;
}

.todo-list li label {
	word-break: break-all;
	padding: 15px 15px 15px 60px;
	display: inline-block;
	line-height: 50px;
	transition: color 0.4s;
	font-size: 30px;
	margin: 0px;
}

.finsh-time {
    padding: 10px;
    position: absolute;
    right: 10px;
}

.close {
	position: absolute;
	right: 0;
	outline:0px;
}

.close  span{
	font-size: 30px;
}

.finsh-true {
	color: rgba(245,245,245,0.7);
	background-color: rgba(0, 0, 0, 0.2);
}

.delete-style { 
	background-color: rgba(107, 59, 59, 0.5);
	color: rgba(245,245,245,1);
}

.showNum {
	padding: 5px;
	color: steelblue;
	font-weight: 700;
}

.nonetodo .view label{
	font-size: 24px;
}